table {
	border-collapse: collapse;
	margin: auto;
	width: 99%;
	border-radius: 6px;
	/*table-layout: fixed;*/
}

table, tr {
	border: 1px solid black;
}
th, td {
	/*overflow: hidden;*/
}
tr {
	text-align: center;
}

@media screen and (min-width: 640px){ 
#1 {
	width: 5%;
}
#2{
	width: 15%;
}
}

@media screen and (max-width: 640px) {
	.heading {
		display: none
	}
	td {
		display: block
	}
	table {
		margin: 1px;
	}
	tr {
		text-align: left
	}
}